
coreapi
coreschema

Django==3.0
django-allauth
django-cors-headers
django-environ
django-heroku
django-rest-auth
django-rest-registration
django-rest-swagger
djangorestframework
djangorestframework-filters
django-elasticsearch-dsl==0.5.1
djangoflutterwave
drf-yasg
django-phonenumber-field
elasticsearch-dsl==6.0

Gunicorn

Pillow
phonenumbers
python-decouple

psycopg2==2.8.6
