
coreapi
coreschema

Django==3.0
django-allauth
django-cors-headers
django-environ
django-heroku
django-rest-auth
django-rest-registration
django-rest-swagger
djangorestframework
djangorestframework-filters
django-elasticsearch-dsl
djangoflutterwave
drf-yasg


Gunicorn

Pillow
phonenumbers
python-decouple

psycopg2
